<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssm.mf.page.dao.PageMapper">
	<!-- List<PageDemo> selectPageByPage(@Param("page")Integer page, @Param("rows")Integer rows); -->
	<select id="selectPageByPage" resultType="com.ssm.mf.domain.PageDemo">
		select id,name,age from page  ORDER BY id
	</select>
	
</mapper>